@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
    color: black;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    color: #000;
}

#stretcher {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 35%;
    background-color: #e9e9e9;
    color: inherit;
}

html>body #stretcher {
    top: 0;
}

* html #stretcher {
    height: 1000em;
}

#middle {
    position: relative;
    z-index: 4;
    overflow: hidden;
    width: 100%;
    min-width: 640px;
    min-height: 100%;
    background-color: #fff;
    color: inherit;
}

*html #middle {
    overflow: visible;
    height: 100%;
}

#content {
    position: relative;
    z-index: 1;
    float: left;
    padding: 1.5em 2%;
    width: 61%;
}

* html #content {
    width: 60.8%;
}

*+html #content {
    width: 60.8%;
}

#sidebar {
    position: relative;
    z-index: 1;
    float: right;
    padding: 1.5em 2%;
    width: 31%;
    background-color: #e9e9e9;
    color: inherit;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}

input:focus {
    outline: none;
    /* Скрываем рамку */
}

.gray {
    background: #dddddd;
}

.cube-table tr>* {
    text-align: center;
}

.none {
    display: none;
}

.thclick {
    cursor: pointer;
    transition: 0.2s background-color linear;
}

.thclick:hover {
    background: #c0c0c0;
}
.table-striped>tbody>tr.values{
    transition: 0.1s background-color linear
}
.table-striped>tbody>tr.values:hover {
    background: #f0f0f0!important;
}